{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'thermostats/bootstrap/css/bootstrap.css' %}"/> 

<h1>Name: {{ thermostat.name }}</h1>
<h2>Base Control: {{ thermostat.base_control }}</h2>
<h2>Account ID: {{ thermostat.account_id }}</h2>
<h2>Thermostat ID: {{ thermostat.thermostat_id }}</h2>
<h2>Current Temperature: {{ thermostat.current_temperature }}</h2>
<h2>Setpoint Temperature: {{ thermostat.setpoint_temperature }}</h2>
<h2>Setback Temperature: {{ thermostat.setback_temperature }}</h2>
<h2>Status: {{ thermostat.status }}</h2>
<h2>ID: {{ thermostat.id }}</h2>