<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Cloudstat - SDP5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'thermostats/bootstrap/css/bootstrap.css' %}"/>
    <style>
    	body {
    		padding-top:60px;
    	}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'thermostats/bootstrap/css/bootstrap-responsive.css' %}"/> 
    <link rel="shortcut icon" href="{% static 'thermostats/bootstrap/img/glyphicons-halfings-white.png' %}"
    <style type="text/css"></style>
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Cloudstat</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  	<div class="container">
  		<h1>Thermostats</h1>
	    {% if thermostat_list %}
		    <table class="table">
          <tr>
            <th>Name</th>
            <th>Current Temperature</th>
          </tr>
		        {% for thermostat in thermostat_list %}
		        <tr>
		        	<td>
		        		<a href="{% url 'thermostats:detail' thermostat.id %}">{{ thermostat.name }}</a>
		        	</td>
		        	<td>
		        		{{ thermostat.current_temperature }}
		        	</td>
		        </tr>
		    {% endfor %}
		    </table>
		{% else %}
		    <p>No thermostats are available.</p>
		{% endif %}
	</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'thermostats/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>